{
  "AWSTemplateFormatVersion": "version date",
  "Description": "Template Description",
  "Metadata": {},
  "Parameters": {},
  "Mappings": {},
  "Conditions": {},
  "Resources": {},
  "Outputs": {}
}
